.choice-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.choice-area .choice-title {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  letter-spacing: 3px;
}

.choice-area .choice-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-area .choice-box .choice-box-m {
  width: 30%;
  height: 30%;
  border-radius: 20px;
  background: #FF0084;
}