.choice-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.choice-area .choice-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 3px;
}