.code-verify {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

/* FORGET-TITLE */

.code-verify .code-title {
  position: relative;
  bottom: 70px;
  color: #fff;
  letter-spacing: 3px;
}

.code-verify .code-title h3 {
  font-size: 30px;
}

.code-verify .code-title span {
  font-size: 15px;
  opacity: 0.5;
}

/* CODE INSERT */

.code-insert {
  position: relative;
  border: 2px solid #FF0084;
  border-radius: 5px;
  bottom: 44.5px;
}

.code-insert input {
  color: #fff;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #1d1d22;
  height: 60px;
  width: 250px;
}