.create-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.create-area .perfil-choice {
  margin-bottom: 50px;
}

.create-area .perfil-choice .mestre {
  border: 2px solid red;
  text-align: center;
}