.login-create-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-create-area .email-box {
  position: relative;
  border: 2px solid #FF0084;
  border-radius: 5px;
  bottom: 44.5px;
}