.forget-pass {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

.forget-pass .forget-title {
  width: 300px;
  position: relative;
  bottom: 130px;
  color: #fff;
  letter-spacing: 3px;
}

.forget-pass .forget-title h3 {
  font-size: 30px;
}

.forget-pass .forget-title span {
  font-size: 15px;
  opacity: 0.5;
}