.forget-pass {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
}

/* FORGET-TITLE */

.forget-pass .forget-title {
  width: 350px;
  position: relative;
  bottom: 70px;
  color: #fff;
  letter-spacing: 3px;
}

.forget-pass .forget-title h3 {
  font-size: 30px;
}

.forget-pass .forget-title span {
  font-size: 15px;
  opacity: 0.5;
}

/* EMAIL */

.forget-pass .forget-email {
  position: relative;
  border: 2px solid #FF0084;
  border-radius: 5px;
  bottom: 30px;
}

.forget-pass .forget-email h3 {
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  color: #fff;
  font-size: 13px;
}

.forget-pass .forget-email input {
  color: #fff;
  border-radius: 3px;
  padding-top: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #1d1d22;
  height: 60px;
  width: 350px;
}

/* CODE BTN */

.forget-pass .forget-btn {
  text-align: center;
  cursor: pointer;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to left, #67002C, #94004A);
}

.forget-pass .forget-btn span {
  color: #fff;
  position: relative;
  top: 15px;
}