.login-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2C4551;
  height: 100%;
  width: 100%;
}

.login-area .login-title {
  position: relative;
  bottom: 70px;
  color: #fff;
  letter-spacing: 3px;
}

.login-area .login-title h3 {
  font-size: 30px;
}

.login-area .login-title span {
  font-size: 15px;
  opacity: 0.5;
}

.login-area .email-box {
  position: relative;
  border: 2px solid #355A6C;
  bottom: 46px;
}

.login-area .email-box h3 {
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  color: #fff;
  font-size: 13px;
}

.login-area .email-box input {
  color: #fff;
  padding-top: 10px;
  padding-left: 20px;
  outline: none;
  border: none;
  background: #18313C;
  height: 60px;
  width: 250px;
}

.login-area .password-box {
  border: 2px solid #355A6C;
  margin-top: 20px;
  position: relative;
  bottom: 46px;
}

.login-area .password-box h3 {
  position: absolute;
  padding-top: 10px;
  color: #fff;
  font-size: 13px;
  padding-left: 20px;
}

.login-area .password-box input {
  padding-left: 20px;
  padding-top: 10px;
  color: #fff;
  outline: none;
  border: none;
  background: #18313C;
  height: 60px;
  width: 250px;
}

.login-area .check-box {
  position: relative;
  bottom: 35px;
  right: 85px;
}

.login-area .check-box input {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #18313C;
}

.login-area .check-box span {
  color: #fff;
  opacity: 0.5;
  position: relative;
  bottom: 2px;
}