.login-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2C4551;
  height: 100%;
  width: 100%;
}

.login-area .login-title {
  position: relative;
  bottom: 100px;
  color: #fff;
  letter-spacing: 3px;
}

.login-area .login-title h3 {
  font-size: 30px;
}

.login-area .login-title span {
  font-size: 15px;
}

.login-area .email-box input {
  outline: none;
  border: none;
  background: #18313C;
  height: 50px;
}