.login-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2C4551;
  height: 100%;
  width: 100%;
}

.login-area .login-title {
  position: relative;
  bottom: 100px;
  color: #fff;
  letter-spacing: 3px;
}

.login-area .login-title h3 {
  font-size: 30px;
}

.login-area .login-title span {
  font-size: 15px;
  opacity: 0.5;
}

.login-area .email-box {
  border: 2px solid #355A6C;
}

.login-area .email-box h3 {
  padding-left: 10px;
  position: absolute;
  color: #fff;
  font-size: 15px;
}

.login-area .email-box input {
  padding-left: 10px;
  outline: none;
  border: none;
  background: #18313C;
  height: 50px;
  width: 250px;
}

.login-area .password-box {
  border: 2px solid #355A6C;
  margin-top: 20px;
}

.login-area .password-box h3 {
  position: absolute;
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
}

.login-area .password-box input {
  padding-left: 10px;
  outline: none;
  border: none;
  background: #18313C;
  height: 50px;
  width: 250px;
}