.player-menu {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
}

.player-menu .player-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  width: 50%;
  height: 625px;
  background: #1d1d22;
  box-shadow: 0 0 10px #00000070;
  text-align: center;
}

.player-menu .player-sidebar h3 {
  font-size: 35px;
  letter-spacing: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.player-menu .player-sidebar span {
  font-size: 20px;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 70px;
}