.player-menu {
  height: 100%;
  width: 100%;
  color: white;
}

.player-menu i {
  font-size: 50px;
  cursor: pointer;
}

.player-menu .player-sidebar {
  width: 40%;
  height: 100%;
  background: #1d1d22;
}