.player-perfil {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.player-perfil i {
  font-size: 50px;
  cursor: pointer;
  color: #FF0084;
  position: absolute;
}

.player-perfil .player-img {
  width: 100%;
  height: 450px;
  box-shadow: 0 0 10px #00000070;
  background: #1d1d22;
  border-bottom-right-radius: 100px;
}

/* H3 */

.player-perfil .player-img h3 {
  position: absolute;
  color: #fff;
}

.player-perfil .player-img .hp-valor {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 30px;
}

.player-perfil .player-img .sanity-valor {
  position: absolute;
  top: 25%;
  left: 77%;
  font-size: 30px;
}

/* SPAN */

.player-perfil .player-img span {
  position: absolute;
  color: #fff;
}

.player-perfil .player-img .hp-title {
  position: absolute;
  letter-spacing: 5px;
  top: 35%;
  left: 10%;
}

.player-perfil .player-img img {
  position: relative;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  left: 31%;
  top: 15%;
  box-shadow: 0 0 10px #00000070;
  border: 4px solid #000;
}

.player-perfil .player-img input {
  position: absolute;
  top: 50%;
  width: 200px;
  left: 110px;
  border: none;
  outline: none;
  font-size: 25px;
  background: #1d1d22;
  border-bottom: 1px solid #FF0084;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}