.player-menu {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
}

.player-menu i {
  font-size: 50px;
  cursor: pointer;
  height: inherit;
  color: #FF0084;
}

.player-menu .player-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0.5;
  width: 50%;
  height: 625px;
  background: #1d1d22;
  box-shadow: 0 0 10px #00000070;
}

.player-menu .player-sidebar h3 {
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding-top: 10px;
  border-bottom: 1px solid #000;
}