/* LINKS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* LINKS END */

/* SITE BODY */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1d1d22;
}

/* STATUSBAR */

.containerStatus .statusBar {
  background: #131417;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.containerStatus .statusBar i {
  position: relative;
  color: white;
  left: 10px;
  top: 13px;
  font-size: 40px;
}

/* SELECT */

.texto {
  color: white;
  font-weight: 500;
  font-size: 20px;
  top: 20px;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.texto-2 {
  color: white;
  font-weight: 500;
  position: relative;
  left: 170px;
  bottom: 31px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.custom-select select {
  width: 140px;
  display: flex;
  left: 2px;
  top: 20px;
  padding: 5px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border-radius: 2px;
  resize: none;
  background: #1D1D22;
  color: white;
  border: none;
}

.custom-select-2 select {
  width: 150px;
  display: flex;
  left: 170px;
  bottom: 31px;
  padding: 5px;
  position: relative;
  font-size: 20px;
  outline: none;
  border-radius: 2px;
  resize: none;
  background: #1D1D22;
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

/* PROFILE CARD */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;
    top: 10px;
    width: 95%;
    height: 80%;
    background-color: #151515;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 280px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #350200, #151515);
    clip-path: circle(400px at 50% -48.5%);
}

.header{
    position: relative;
    height: 309px;
}

.hamburger-menu{
    position: absolute;
    width: 21px;
    height: 16px;
    top: 1.4rem;
    left: 1.9rem;
    z-index: 3;
    cursor: pointer;
    transition: .3s;
    opacity: .8;
}

.hamburger-menu:hover{
    opacity: 1;
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .image{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: url('img/profile.jpg') no-repeat center / cover;
    border: 4px solid black;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
}

.image .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(79, 172, 254, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.image:hover .hover{
    opacity: 1;
}

.hover.active{
    opacity: 1;
}

.name{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    line-height: 1;
    margin: 5px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content{
    display: flex;
    padding: 0.5rem 0rem 1rem;
}

.top {
  flex-direction: row;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: space-between;
}

.number{
    font-size: 17px;
    color: white;
}

.number-title{
    font-size: .55rem;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title{
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 3px 0;
    display: inline-block;
}

.text{
    color: white;
    font-weight: 300;
    line-height: 1.7;
    word-break: break-all;
}

textarea {
  background: #1D1D22;
  border: #131417;
  resize: none;
  outline: none;
  color: white;
  font-size: 22px;
  box-shadow: inset 0 0 10px #00000070;
}

.below {
  flex-direction: row;
  margin-top: 20px;
  display: flex;
  height: 100px;
}

.below h3 {
  margin-top: 8px;
  transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
}

.below .point-1 {
  margin-left: 75px;
}

.below .point-2 {
  margin-left: 81px;
}

.below .point-3 {
  margin-left: 76px;
}

.below .point-4 {
  margin-left: 75px;
}

.below .point-5 {
  margin-left: 72px;
}

.below .point-6 {
  margin-left: 74px;
}

.below-left {
  width: 50%;
}

.below-right {
  width: 50%;
}

.below h3 {
  color: white;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.modal img{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    max-width: 100%;
    max-height: 100%;
    transition: .5s;
}

.modal .show{
    opacity: 1;
    z-index: 99;
}

.modal .show img{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.close:hover{
    opacity: .5;
}

.close:before, .close:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.close:before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.close:after{
    transform: translate(-50%, -50%) rotate(135deg);
}

@media (max-width: 410px){
    .content{
        flex-direction: column;
    }

    .right{
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
}

@media (max-width: 370px){
    .header{
        height: 230px;
    }

    .card:before{
        clip-path: circle(400px at 50% -74.5%);
        height: 230px;
    }

    .hamburger-menu{
        width: 16px;
        height: 12px;
        top: 1.1rem;
        left: 1.5rem;
    }

    .mail{
        font-size: 1.1rem;
        top: .75rem;
        right: 1.5rem;
    }

    .main .image{
        width: 90px;
        height: 90px;
        border-width: 3px;
    }

    .name {
        font-size: 1rem;
    }

    .content{
        padding: 1.2rem 1.8rem 1.8rem 1.8rem;
    }

    .number{
        font-size: 1.8rem;
    }

    .number-title{
        font-size: .4rem;
    }

    .right{
        padding-top: 1rem;
    }

    .title{
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .text{
        font-size: .8rem;
    }
}

/* PROFILE CARD END */