@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}
html, body{
  width:100%;
  height:100%;
}
body {
  background-color: #151515;
}

.container-geral {
  justify-content: center;
  align-items: center;
}

/* LOGIN */

.login-card {
  width: 350px;
  display: flex;
  height: 400px;
  top: 130px;
  left: 50px;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background: #1d1d22;
  box-shadow: 0 0 10px #00000070;
}

.top {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  clip-path: circle(390px at 50% -48.5%);
  display: flex;
  background: linear-gradient(to right, #000321, #000741);
}

.text {
  z-index: 1;
  position: absolute;
  left: 33%;
  top: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
}

.bottom {
  bottom: 20px;
  position: relative;
}

.title {
  color: #fff;
  left: 62px;
  bottom: 20px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.insert {
  text-align: center;
  position: relative;
  bottom: 20px;
}

input {
  outline: none;
  padding-left: 10px;
  width: 250px;
  border: 4px solid #151515;
  background: black;
  height: 40px;
  color: white;
  border-radius: 30px;
}

.direct {
  display: flex;
  justify-content: space-evently;
}

h2 {
  position: relative;
  border: 1px solid #0013B3;
  text-align: center;
  left: 60px;
  font-family: 'Roboto', sans-serif;
  width: 90px;
  height: 40px;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
  color: #0013B3;
}